<div class="col-sm-3">
  <a {{bind-attr href='book.url'}} targe='_blank'>
    <img {{bind-attr src='book.image'}}/>
  </a>
  <p class='text-center rating'><strong>{{book.rating}}</strong>/5</p>
</div>
<div class="col-sm-9">
  {{#link-to 'book' book}}{{book.title}}{{/link-to}}
  <p class="text-muted"><em>Written by {{book.author}}</em></p>
</div>
<div>
  {{book.review}}
</div>

{{#link-to 'genre' book.genre class="label label-primary"}}{{book.genre.name}}{{/link-to}}